In [1]:
print("Hello World")

Hello World

In [2]:
age=32
print("My age is : ",age)

My age is :  32

In [3]:
print("My ageis : {age}")

My ageis : {age}

In [5]:
print(f"My ageis : {age}") ##F is for formating (f string in python)#

My ageis : 32

In [6]:
## format 

name = "Bhaskar"
age = 34
print("My Name is {} and age is {}".format(name,age))

My Name is Bhaskar and age is 34

In [8]:
print("My Name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My Name is Bhaskar and age is 34

In [9]:
print("My Name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My Name is Bhaskar and age is 34

In [10]:
name= "Bhaskar"
age=32
degree="BBM"

print(f"My age is : {age} and i have completed : my degree {degree} with the name : {name}")

My age is : 32 and i have completed : my degree BBM with the name : Bhaskar

In [12]:
print("My age is : {} and i have completed : my degree {} with the name : {}".format(age,degree,name))

My age is : 32 and i have completed : my degree BBM with the name : Bhaskar

## Control Flow

### Decision making statements

In [14]:
age=33
if age >=18 :
    print(" You are eligible to vote")

 You are eligible to vote

In [15]:
age=17
if age >=18 :
    print(" You are eligible to vote")

In [16]:
age=17
if age <=18 :
    print(" You are not eligible to vote")

 You are not eligible to vote

In [17]:
name= input("Enter your name ")

Enter your name  Bhaskar

In [18]:
age= int(input(" Enter your age"))

 Enter your age 33

In [21]:
if age  >= 18 and age <= 45 :
    print(" you are young blood")

 you are young blood

In [29]:
age= int(input(" Enter your age"))
if age  >= 18 and age <= 45 :
    print(" you are young blood")
else :
    print(" you are not eligible")

 Enter your age 46

 you are not eligible

In [26]:
age= int(input(" Enter your age"))
if age  >= 18 and age <= 45 :
    print(" you are young blood")
elif age <= 18 :
    print(" you are too young")
else :
    print(" you are old")

 Enter your age 48

 you are old

In [38]:
price= int(input(" The price of product"))
if price  >= 1000 :
    print("Price OF the product is  :{}".format(price*0.8))
else :
    print("Price OF the product is  :{}".format(price*0.7))

 The price of product 800

Price OF the product is  :560.0

In [39]:
price= int(input(" The price of product"))
if price  >= 1000 :
    print("Price OF the product is  :{}".format(price*0.8))
else :
    print("Price OF the product is  :{}".format(price*0.7))

 The price of product 2600

Price OF the product is  :2080.0

In [3]:
type((20/100)*5000)

float

In [4]:
((20/100)*5000)

1000.0

In [5]:
price= int(input(" The price of product"))
if price  >= 1000 :
    print(f"Price OF the product is  :{price*0.8}")
else :
    print(f"Price OF the product is  :{price*0.7}")

 The price of product 2000

Price OF the product is  :1600.0

In [12]:
price= int(input("The Price of the product :"))
if price > 3000 :
    print(f"Price of the product is : {price*0.7}")
elif price >= 2000 and price <= 3000 :
    print(f"Price of the product is : {price*0.8}")
elif price >= 100 and price < 2000 :
    print("The price of the product is : {}".format(price*0.9))
else :

The Price of the product : 1800

The price of the product is : 1620.0

In [13]:
price= int(input("The Price of the product :"))
if (price > 3000 ):print(f"Price of the product is : {price*0.7}")

The Price of the product : 3100

Price of the product is : 2170.0

## Loop ( While,For)

In [20]:
retirement_age=60
joining_age=25
i=1
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [22]:
Total_amount=1000
while Total_amount != 0 :
    print(Total_amount)
    Total_amount=Total_amount-100
else:
    print("deposit more money")

1000
900
800
700
600
500
400
300
200
100
deposit more money

In [24]:
lst=["bhaskar",2,3,4,"apple","banana"]

In [25]:
lst

['bhaskar', 2, 3, 4, 'apple', 'banana']

In [26]:
lst[0]

'bhaskar'

In [27]:
lst[4]

'apple'

In [28]:
lst[1:5]

[2, 3, 4, 'apple']

In [32]:
lst[2:-1]

[3, 4, 'apple']

In [33]:
for x in lst:
    print(x)

bhaskar
2
3
4
apple
banana

In [34]:
fruits=["Mango","cherry","kiwi","garpes","papaya"]

In [37]:
for a in fruits:
    print(a)
    if a == "cherry":
        print("Favourite fruit")

Mango
cherry
Favourite fruit
kiwi
garpes
papaya

In [39]:
for a in fruits:
    print(a)
    if a == "cherry":
        print("Favourite fruit")
        break

Mango
cherry
Favourite fruit

In [47]:
fruit="mango"
for x in fruit:
    print(x,end='')

mango

In [41]:
fruit[0]

'm'

In [43]:
fruit[2]

'n'

In [48]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

###Nested Loops

In [49]:
n=7
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [54]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [71]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

##Loop Control

In [66]:
fruits=["Mango","cherry","kiwi","grapes","papaya"]

In [67]:
for i in fruits:
    print(i)

Mango
cherry
kiwi
grapes
papaya

In [68]:
for i in fruits:
    if i =="grapes":
        print("The fruit is grapes")
        break
    print(i)

Mango
cherry
kiwi
The fruit is grapes

In [69]:
for i in fruits:
    if i =="grapes":
        print("The fruit is grapes")
        pass
    print(i)

Mango
cherry
kiwi
The fruit is grapes
grapes
papaya

In [70]:
for i in fruits:
    if i =="grapes":
        print("The fruit is grapes")
        continue
    print(i)

Mango
cherry
kiwi
The fruit is grapes
papaya